/**
 * Generic css used across all blocks
 * Rather than having modifiers of blocks, we have a separate BEM block for each content block as
 * they are so different from one another.
 */
 .block {
  padding-bottom: 4rem;
  padding-top: 4rem;
  font-size: 10px;

  @include media-breakpoint-up(md) {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  &__title {
    margin-top: 1rem;
  }
}
