.campaign-block {
  display: flex;
  flex-direction: column;

  &--no-image {
    display: block;
    grid-column: 1 / span 12;
    text-align: center;

    @include media-breakpoint-up(lg) {
      grid-column: 2 / span 10;
    }

    @include media-breakpoint-up(xl) {
      grid-column: 3 / span 8;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;

    &--right {
      flex-direction: row-reverse;
    }
  }

  &__wrap {
    @include media-breakpoint-up(lg) {
      flex-basis: 58em;
      flex-shrink: 0;
      max-width: 50%;
      padding-left: 4em;

      .campaign-block--right & {
        padding-left: 0;
        padding-right: 4em;
      }

      .campaign-block--no-image & {
        padding: 0;
      }
    }
  }

  &__heading {
    margin: 0 0 1em;
    text-transform: uppercase;

    .variant--light-blue &,
    .variant--blue &,
    .variant--pink & {
      color: $white;
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    margin-top: 0;

    .variant--light-blue &,
    .variant--blue &,
    .variant--pink & {
      color: $white;
    }
  }

  &__summary {
    .variant--light-blue &,
    .variant--blue &,
    .variant--pink & {
      color: $white;
    }
  }

  &__link {
    margin: 3em 0 2.5em;

    .variant--light-blue &,
    .variant--blue &,
    .variant--pink & {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  &__button {
    .variant--light-blue & {
      background-color: $white;
      border-color: $white;
      color: $blue;

      &:hover,
      &:focus {
        background: $pale-grey;
        border-bottom-color: $blue;
        color: $blue;
      }
    }

    .variant--blue & {
      background-color: $white;
      border-color: $white;
      color: $dark-blue;

      &:hover,
      &:focus {
        background: $pale-grey;
        border-bottom-color: $dark-blue;
        color: $dark-blue;
      }
    }

    .variant--pink & {
      background-color: $white;
      border-color: $white;
      color: $pink;

      &:hover,
      &:focus {
        background: $pale-grey;
        border-bottom-color: $pink;
        color: $pink;
      }
    }
  }

  &__secondary-link {
    color: $pink;
    display: inline-block;
    text-transform: uppercase;

    .variant--light-blue &,
    .variant--blue &,
    .variant--pink & {
      color: $white;
      transition: opacity 0.2s;

      &:hover,
      &:focus {
        color: $white;
        border-bottom-color: $white;
      }
    }
  }

  &__image {
    margin-bottom: 2.5em;
    max-height: 50em;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      max-height: none;
      max-width: 50em;
      width: 100%;

      .campaign-block--right & {
        float: right;
      }
    }
  }

  &__image-wrap {
    margin-top: 1em;
    width: 100%;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
}
