// Colors
$white: #FFF !default;
$pale-grey: #F7F9FB !default;
$river-bed: #455562 !default;
$dark-blue: #142237 !default;
$blue: #005B94 !default;
$pink: #DA1052 !default;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Font weights
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
